/*-------------Overrides----------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

body:not(.front-page) h1 {
  font-size: 80px;
  line-height: 88px;
}

body:not(.front-page) h2 {
  font-size: 48px;
  line-height: 56px;
}